:root{
    --darker-purple: #0e091a;
    --darkish-purple:#130c24;
    --dark-purple: #18102c;
    --pink: #fc2cff;
    --pink-whi:#fd81ff;
    --aqua: #32fff8;
    --aqua-whi:#6cfffa;
    --gradient: linear-gradient(129deg, rgba(252,44,255,1) 10%, rgba(50,255,248,1) 100%);
}

body{
    font: 16px/1.5 'Roboto', sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    background-color: var(--dark-purple);
    overflow-x: hidden;
}

h2{
    font-size: 2rem;
    color: var(--aqua-whi);
    border-bottom: 3px solid var(--pink-whi);
    line-height: 0em;
}

h2 span{
    background: var(--dark-purple);
    padding: 0 15px;
}

h3{font-size: 1.5rem;}
h4{font-size: 1.2rem;}

/* ############## */
/* # SCROLL BAR # */
/* ############## */

/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: transparent ;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .75rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #352363;
    border-radius: 10px;
    border: 0.2rem solid var(--dark-purple);
}

.visible{
    opacity: 100%;
}

.invisible{
    opacity: 0%;
}

/* ######## */
/* # HOME # */
/* ######## */

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro{
    position: absolute;
    justify-content: center;
    height: 26rem;
    width: 45rem;  
    pointer-events: none;
    z-index: 3;
}

.intro h1{
    font-size: 6.5rem;
    color: #ffffff;
    margin: 0;
}

.intro h2{
    font-size: 1.5rem;
    color: #e189e2;
    border: 5px solid transparent;
    margin-top: -1.2rem;
    margin-bottom: 2.2rem;
    margin-left: 1rem;
}

.intro a{
    border: 3px solid #fd95ff;
    color: #68eee9;
    filter: grayscale(100%) opacity(0.7);
    font-size: 20px;
    padding: 15px 30px;
    margin-left: 2rem;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    pointer-events: all;
    text-decoration: none;
}

.intro a:hover{
    filter: grayscale(0%) opacity(1);
    background: #68eee90e;
}

#cover{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: var(--dark-purple);
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

#learn-more{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 6rem;
    height: auto;
    z-index: 3;
}

#learn-more a{
    pointer-events: all;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#learn-more a:hover{ filter: grayscale(0%) opacity(1); }

#learn-more svg{ height: 50px; }
#learn-more a:hover > svg{ height: 60px; }

#learn-more span{
    color: white;
    pointer-events: none;
}

#particles-js{
    width: 100%;
    height: 100vh;
    margin-left: 7rem;
    margin-right: 5rem;
    z-index: 1;
}

/* ######### */
/* # ABOUT # */
/* ######### */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 1rem;

}

#about .container{
    position: absolute;
    justify-content: center;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 70rem;
    height: auto;
}

#about-txt{
    height: 100%;
    text-align: center;
    color: #ffffff;
}

#about-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease;
}

#about-img img{
    border-radius: 10px;
    width: 20rem;
    opacity: 1;
    filter: drop-shadow(8px 8px 5px #fea7ffa6);
}

#about-img img:hover{
    filter: drop-shadow(12px 12px 2px #fd87ffa6);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: 0.5s ease;
}

#about-img .img-container{
    height: 20rem; width: 20rem;
}

#about a{
    text-decoration: none;
    color: #a9fffb;
    transition: .1s;
}

#about a:hover{
    color: #feadff;
}

/* ########## */
/* # SKILLS # */
/* ########## */

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 4rem;
}

#skills .container{
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 70rem;
    height: 50rem;
}

#skills #skill-title{
    width: 40rem;
    margin: auto;
    padding-top: 1rem;
}

#skills #skill-grid{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin-top: 3rem;
}

#skills #skill-type-grid{
    margin: 0 3rem;
}

#skills .skill-logo-grid{
    justify-content: center;
    display: grid;
    height: 85%;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
}

#skills .skill-logo{
    filter: grayscale(100%) opacity(0.7);
    transition: 0.25s;
    color: #68666680;
}

#skills .skill-logo:hover{
    filter: grayscale(0) opacity(1) drop-shadow(0px 0px 8px #fd81ffa6);
    color: #ffffff;
}

#skills img{
    height: 100px;
    filter: drop-shadow(8px 8px 1px #000000);
}


/* ############ */
/* # PROJECTS # */
/* ############ */

#projects{
    display: flex;
    justify-content: center;
    height: 180vh;
}

#projects .container{
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    width: 60rem;
    height: auto;
}

#projects #projects-title{
    margin-bottom: 5rem;
}

#projects h1{
    color: #feafff;
}

.showcase {
    position: relative;
    width: 100%;
    height: 17em;
    margin: 1em auto;
    overflow: hidden;
    background: transparent;
    border-radius: 20px;
}
.thumbnail {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 300px;
    z-index: 1;
    background: var(--darkish-purple);
    background-position: 50% 50%;
    background-size: cover;
    transition: right 250ms ease, left 250ms ease;
    opacity: 60%;
}
.thumbnail--project1 {
    background-image: url(../img/projects/project_desktop.png);
}
.thumbnail--project2 {
    background-image: url(../img/projects/project_dungeon.png);
}
.thumbnail--project3 {
    background-image: url(../img/projects/project_piano.png);
}
.thumbnail--project4 {
    background-image: url(../img/projects/project_website.png);
}
.thumbnail__overlay {
    position: relative;
    padding-top: 8em;
    height: 100%;
    background: rgba(17, 0, 26, 0.8);
    text-align: center;
    opacity: 0;
    transition: opacity 250ms ease;
}
.project-header{
    color: var(--pink-whi);
}

.desc {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 2;
    background: #100a1d;
    text-align: center;
    transition: color 250ms, width 250ms ease, padding 250ms ease;
}
.desc:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #100a1d transparent transparent;
    content: "";
    transition: border-color 250ms;
}
.showcase:hover .thumbnail {
    right: 325px;
    left: -25px;
}
.showcase:hover .thumbnail__overlay {
    opacity: 1;
}
.showcase:hover .desc {
    width: 350px;
    padding-left: 45px;
    padding-right: 45px;
    background: var(--darker-purple);
    color: #fff;
}
.showcase--inverted .thumbnail {
    right: 0;
    left: 300px;
}
.showcase--inverted .desc {
    left: 0;
    right: auto;
}
.showcase--inverted .desc:after {
    left: auto;
    right: -20px;
    border-color: transparent transparent transparent #100a1d;
}
.showcase--inverted:hover .thumbnail {
    left: 325px;
    right: -25px;
}
.btn {
    padding: 1em 2em;
    border: 0.15em solid var(--aqua-whi);
    color: var(--aqua-whi);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: background 250ms;
}
.btn:hover {
    background: rgba(0, 0, 0, 0.6);
}
/* ########### */
/* # CONTACT # */
/* ########### */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact .container{
    text-align: center;
    margin-top: 10rem;
    width: 60rem;
    height: 50rem;
}

#contact .phone-num{
    margin-top: 4rem;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#contact .phone-num svg{
    height: 4rem;
    margin-right: 1rem;
}

#contact .phone-num h3{
    font-size: 1.75rem;
    margin-left: 1rem;
    color: #9dfffc;
}

#contact form{
    margin-top: 6rem;
}

#contact .feedback-input {
    color:white;
    font: 16px/1.5 'Roboto', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #537977;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
#contact .feedback-input:focus { border:2px solid var(--aqua-whi); }
  
#contact textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font: 16px/1.5 'Roboto', sans-serif;
    width: 100%;
    background: #aa53ac;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:var(--pink-whi); }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }