:root{
    --darker-purple: #0e091a;
    --dark-purple: #18102c;
    --pink: #fc2cff;
    --aqua: #32fff8;
    --gradient: linear-gradient(129deg, rgba(252,44,255,1) 10%, rgba(50,255,248,1) 100%);
}

body{
    font: 15px/1.5 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--dark-purple);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: transparent ;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .75rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #352363;
    border-radius: 10px;
    border: 0.2rem solid var(--dark-purple);
}

#indexPage{
    height: 5000px;
}