:root{
    --darker-purple: #0e091a;
    --dark-purple: #18102c;
    --pink: #fc2cff;
    --aqua: #32fff8;
}

body{
    font: 15px/1.5 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--dark-purple);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #2a1c4e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-thumb {
background-color: #352363;
border-radius: 10px;
border: 3px solid var(--dark-purple);
}

#indexPage{
    height: 5000px;
}










.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    border: 5px solid white;
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
}


#header h1{
    font-size: 200px;
    color: white;
}